
@font-face{
    font-family: myFont;
    src: url(junegull.ttf.ttf);
}
@font-face{
    font-family: myFirstFont;
    src: url(Super\ Comic.ttf.ttf);
}



html, body{
    font-family:  myFirstFont;
    margin: 0;
    background-color:#cbe8e8;
    }
    header{
    background-color: rgb(9, 38, 46);
    padding: 40px;
    text-align: center;
    height:35%;
    }
    h1{
    font-size: 85px;
    color: #021823; 
    -webkit-text-stroke-color: rgb(134, 215, 215);
    -webkit-text-stroke-width: 2px;
  
    }
    h2{
    font-size: 35px;
    }
    header img{
    margin-top: 20px;
    border-radius: 174px;
    width: 300px;
    border: 5px solid rgb(12, 135, 135);
    box-shadow: 0 0 100px rgb(1, 86, 90);
    }
    .content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    }

    .content h2{
        font-size: 35px;
        font-family: myFirstFont;
    }

    .content p{
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .content li{
        font-size: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    img.big-image{
    
    max-width: 100%;
    border-radius: 10px;
    border:3px solid rgb(6, 45, 53);
    }
   
    p.cap3on{
    font-size: 16px;
    color: rgb(97, 78, 78);
    font-style: italic;
    }
    ul{
    list-style: none;
    padding: 0;
    margin: 0;
    }
    a{
    color: rgb(9, 38, 46);
    text-decoration: none;
    }
    
    footer{
    margin-top: 20px;
    padding: 40px 20px;
    background: rgb(134, 215, 215)
    }
    footer ul{
    text-align: center;
    }
    footer ul li{
    display: inline-block;
    margin: 0 5px;
    background: rgb(134, 215, 215);
}

circle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
        padding-bottom: 300%;
}

.circle-container {
	display: flex; 
	justify-content: center; 
        align-items: center; 
	padding-top: 5px;
	content: 2px;
	margin-top: 5px;
        margin-bottom: 30px;

	
	
}

.circle {
	width: 100px;
	height: 100px;
	background-color: transparent;
        border-radius: 5px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s;
	box-shadow: 1px 1px 6px 6px rgb(1, 52, 55);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	padding-bottom: 0%;
	
}

.circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	
}

.circle:hover {
	transform: scale(1.1);
}
.name {
	display: none; 
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}
.text-on-hover {
    display: none;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.circle:hover .text-overlay{
	opacity: 1;
}
.text-overlay {
	font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.7); 
    color: #f3f3f3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.circle:hover img {
    transform: scale(1.1); 
}
